.porche{
    width: 100%;
    height:400px;
}

.cont{
    position: relative;
    width: 100%;
    height:400px;
}
.cont h1{
    position: absolute;
    font-size: 20px;
    left: 44%;
    top: 5%;
    text-transform: uppercase;
    color: rgb(247, 247, 247);
}

.cont p{
    position: absolute;
    left: 10%;
    top: 15%;
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(255, 249, 249);
    font-weight: bold;
    text-align: center;
    
}

.team-slogan{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase; 
}

.box{
    background-color:orangered;
    width: 70%;
    height: 180px;
    margin: 0px auto;
    padding: 30px;
    left: 35px;
    position: relative;
    top: -88px;
}
.box2{
    position: absolute;
    width: 97%;
    height:93.867px;
    margin:0%;
    background-color:orangered;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-right: 30px;
    right: 0%;
    left: 0%;
}
.head1{
    position: absolute;
    left:43%;
    top:746px;
}  

.team{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 102px;
    padding-left: 7%;
}

.teampic{
    width: 80%;
}

.fantasy{
    width: 100%;
    height: 350px;
    background-repeat:no-repeat;
}