.porche{
    width: 100%;
    height:400px;
}

.cont{
    position: relative;
    width: 100%;
    height:400px;
}
.cont h1{
    position: absolute;
    font-size: 20px;
    left: 44%;
    top: 5%;
    text-transform: uppercase;
    color: rgb(247, 247, 247);
}

.cont p{
    position: absolute;
    left: 1%;
    top: 20%;
    text-transform: uppercase;
    font-size: 40px;
    color: rgb(255, 249, 249);
    font-weight: bold;
    text-align: center;
    
}

.team-slogan{
    position: absolute;
    font-size: 40px;
    font-weight: bold;
    text-transform: uppercase; 
}

.box{
    background-color:orangered;
    width: 70%;
    height: 180px;
    margin: 0px auto;
    padding: 30px;
    left: 35px;
    position: relative;
    top: -88px;
}
.box2{
    position: absolute;
    height:93.867px;
    margin:0%;
    background-color:orangered;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    padding-right: 30px;
    right: 0%;
    left: 0%;
}
.head1{
    position: absolute;
    left:43%;
    top:746px;
}  

.team{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 102px;
    padding-left: 7%;
}

.teampic{
    width: 80%;
}

.fantasy{
    width: 100%;
    height: 353px;
    background-repeat:no-repeat;
}

/*pop up for more information*/

.box5 {
    padding: 30px;
    text-align: left;
  }
  
  .button {
    font-size: 1em;
    padding: 10px;
    color:black;
    border: 2px solid #06D85F;
    border-radius: 20px/50px;
    text-decoration: none;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button:hover {
    background: #06D85F;
  }
  
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background:white;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }