body{
    margin: 0%;
    padding: 0%;
}
.logo{
    float: left;
    width: 120px;
    height: 60px;
    border-radius: 100px / 60px;
    padding: 10px;
}
/*Navbar section*/

header{
    background:white;
    position: sticky;
    top:0;  
}
header::after{
    content: "";
    display: table;
    clear:both;
}
.container{
    width: 0 auto;
}
.nav-list{
    float:right;
   
}

nav ul{
    padding: 0%;
    margin: 0%;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 90px;
    margin-right: 40px;
    padding-top: 2.5%;
    position: relative;
}

nav a{
    color: black;
    text-transform: capitalize;
    text-decoration: none;
    font-size: 12px;
    font-weight: lighter;
    
}

nav a::before{
    content:"";
    display: block;
    width: 0%;
    height: 5px;
    background-color: black;
    position: absolute;
    top: 0%;
    transition: all ease-in-out 260ms;
}

nav a:hover::before{
    width: 100%;
}

/*Background image setting*/

.back-image{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 420px;
}

.background-img{
    width: 100%;
    height: 420px;
}

.container-1{
    background-color:whitesmoke;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

}

.box{
    width:250px;
    height:100px;
    margin: 28px;
    padding: 22px;
}

.number{
    font-size: 25px;
    font-weight: bolder;
    font-family: inherit;
    color: red;
}

.text{
    font-size: 17px;
    font-weight: lighter;
    font-family: inherit;
    text-decoration: #090979;
}

.text-0{
    color:black;
    position:absolute;
    left:0%;
    top:25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.center-0{
    text-align: center;
    font-size: 85px;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-shadow: rgb(32, 31, 31);
    font-weight: 300;
    margin:0;
}

.center-1{
    font-size: 25px;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

/*Picture and information section*/

.pic-container{
    width: 100%;
    height: 460px;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.pic{
    width:100%;
    height: 460px;
}

.text-1{
    width: 34%;
    height: 382px;
    background-color: grey;
    top:8%;
    left:4%;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    padding-left: 1%;
    padding-top: 1%;
    padding-right: 1%;
    flex-wrap: wrap;
}

iframe{
    height: 470px;
    width: 60%;
}

.wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}

/*sign up box picture section*/

.sign-up-pic{
    width: 100%;
    height: 350px;
}
.sign-box{
    width: 100%;
    height: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
}


.text-2{
    width:20%;
    height: 150px;
    top: 8%;
    left: 40%;
    position: absolute;
    font-style: italic;
    color: whitesmoke;
    text-align: center;

}

.text-2 h2{
    text-align: center;
}


.pure-form{
    left:38%;
    top: 65%;
    position: absolute;
}

/*footer section*/

.footer-grids{
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(79,65,65,1) 100%, rgba(0,212,255,1) 100%);
    padding:3em 0em;
    width: 100%;
    height:250px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
}

/*sub section of the footer*/

.copy-right-grids{
    background: rgb(9,7,41);
    background: radial-gradient(circle, rgba(9,7,41,1) 6%, rgba(11,9,42,1) 8%, rgba(1,1,8,1) 28%, rgba(42,40,63,1) 100%, rgba(112,111,111,1) 100%, rgba(0,212,255,1) 100%);
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-evenly;
    height: 78px;
}


.footer.one{
    width: 20%;
    font-size: 13px;
    float:left;
}


/*footer two section*/
.footer-two ul li{
    list-style: none;
}

.footer-two ul{
    position: absolute;
    left: 42%;
}

.footer-two h3{
    color: white;
    text-align: center;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    font-family: 'Viga', sans-serif;
}

/*3rd footer section*/
.footer-three{
    width:30%;
}
.footer-three ul li{
    list-style: none;
    text-align: center;
}

.footer-three h3{
    text-align: center;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
    font-family: 'Viga', sans-serif;
}


.footer{
    float:left;
}

.footer-one p{
    color: #908f8f;
    line-height:2em;
    font-size:14px;
}

.footer h3{
    text-align:center;
    font-size: 19px;
    color: #fff;
    font-weight: 500;
    margin-bottom: 32px;
    font-family: 'Viga', sans-serif;
}

p.adam{
    float:right;
    color:#6F6E6E !important;
    font-size:13px;
    margin-top: 20px;
}

.two ul {
    margin: -2px;
    padding: 0;
    list-style: none;
}

/*social icons*/
.fb1 , .fb , .fb2 , .fb3{
    width: 40px;
    border-radius: 10px;

}

/*section under footer*/


.footer-gd{
    color:white;
    position: relative;
    right: 55%;
    top: 25%;
}

.copy-right{
    width:20%;
}

.copy-right a{
    display: inline-block;
    margin-left: 7%;
    text-decoration: none;
    margin-top: 9.5%;
    color: white;
}

.copy-right a:hover{
    background-color: blue;
}